@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap');

body{
    margin: 0%;
    padding: 0%;
    font-family:'Montserrat', sans-serif;
    background-color:rgba(8, 8, 8, 0.77);
    font-weight: bold;
}
.home{
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 70px;
}
nav.menu, nav.contato{
  display: block;
}
nav.menu ul{
   
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -14px;
    left: -37px;
}
nav.menu li{
  display: inline-block;
  background-color: white;
  padding: 22px 10px 22px ;
}
nav.menu a{
  color:  black;
  text-decoration: none;
}
nav.menu a:hover{
  -webkit-box-shadow:  1px 1px 2px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    -2px 5px 1px rgba(50, 50, 50, 0.77);
   box-shadow:        -2px 1px -2px rgba(50, 50, 50, 0.77);
   padding:26px 10px 26px ;
}
.caixa-hero{
  background-color:white;
  width: 100%;
  height: 180px;
  position: absolute;
  z-index: 1;
  top: 85px;
}

.caixa-picture{
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 2;
  top: 121px;
  left: 20px;
}

.hero-picture {
  border-radius: 10px;
  left: 15px;
}

.caixa-sobre{
  position: absolute;
  z-index: 3;
  height: 160px;
  top: 100px;
  left: 120px;
  overflow: auto;

}

.hero-title {
  margin: 0%;
  margin-bottom: 10px;
  font-size: 25px;
}

.caixa-sobre h2{
  margin: 0%;
  margin-bottom: 5px;
  font-size: 20px;
}

.caixa-sobre p{
  margin: 0%;
  
}

.caixa-hab{
  background-color:white;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 280px;
}
.caixa-hab h1{
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
  letter-spacing:2px
}

.caixa-soft {
  width: 40%;
  height: 400px;
  position: absolute;
  z-index: 1;
  top: 400px;
  left: 50px;
  letter-spacing:2px ;

}

.caixa-soft h2{
  text-align: center;
  left: 10px;
  
}


.linha-vertical{
  height: 300px;
  border-right: 1px solid rgba(0, 0, 0, 0.349);
  position: absolute;
  z-index: 4;
  top: 400px;
  left: 50%;
}

.caixa-hard{
  width: 40%;
  height: 400px;
  position: absolute;
  z-index: 1;
  top: 400px;
  right: 50px;
  letter-spacing:2px ;
}

.caixa-hard h2{
  text-align: center;
  margin-left: 10px;
}

.caixa-projeto{
  background-color:white;
  width: 100%;
  height: 600px;
  position: relative;
  top: 875px;
  background-image: url(projetos.png);
  background-size: cover;
  background-position: 50%;
}

.caixa-projeto h2{
  text-align: center;
  padding-top: 30px;
  letter-spacing:2px
}

.caixa-contato{
  background-color:white;
  width: 100%;
  height: 70px;
  top: 890px;
  position: relative;

}

nav.contato ul{
    list-style: none;
    position: absolute;
    top: -14px;
    right: 10px;
}
nav.contato li{
  display: inline-block;
  background-color: white;
  padding: 22px 10px 22px ;
}
nav.contato a{
  text-decoration: none;
}
nav.contato a:hover{
  -webkit-box-shadow:  1px 1px 2px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    -1px 5px -3px rgba(50, 50, 50, 0.77);
   box-shadow:        -1px 5px -5px rgba(50, 50, 50, 0.77);
   padding:26px 10px 26px ;
}

li.git a{
  color: black;
}
li.linke a{
  color: blue;
}

nav.contato h1, nav.menu h1{
  display: none;
}